* {
  margin: 0;
  padding: 0;
  /* color: var(--lightBlack); */
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.nav-social, .nav-bar, .partners, .footer {
  display: none;
}

.nav, .intro-text {
  background-image: url("../Images/nav-bg.jpg");
}

.nav-ham-icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  height: 100px;
}

.bar {
  width: 25px;
  height: 5px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.bar1 .pressed{
  transform: translate(0, 11px) rotate(-45deg);
}

.bar2 .pressed {opacity: 0;}

.bar3 .pressed {
  transform: translate(0, -11px) rotate(45deg);
}

.intro-text > h3,h1 {
  padding: 0 20px;
  color: #ec5242;
  font-size: 20;
}

.intro-text > h1 {
  font-weight: 700;
  font-size: 36px;
  
}

#para-border {
  border: 1px solid white;
  margin: 30px 10px;
  padding: 10px;
  color: #272a31;
}

#para-time {
  padding: 0 20px;
  font-weight: 700;
  font-size: 26px;
  color: #272a31;
}

#para-place {
  display: block;
  padding: 0 20px;
  color: #272a31;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 100px;
}

.main-program {
  background-image: url("../Images/mp-bg.png");
  text-align: center;
}

#main-program-header {
  display: inline-block;
  color: white;
  /* margin: 0 auto;
  margin-left: 50%;
  transform: translateX(-50%); */
  margin-top: 30px;
}

#main-program-hr {
  border: 1px solid red;
  width: 45px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-program-container {
  display: flex;
  flex-direction: column;
}

.main-program-item>img,h3,p {
  padding: 0 20px;
}

.main-program-item>h3 {
  color: #ec5242;
}

.main-program-item>img {
  width: 23px;
  height: 33px;
}

.main-program-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../Images/mpi-bg.png");
  width: 95%;
  justify-content: space-between;
 }

.mpi-p {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  color: white;
}

.main-program-button {
  padding: 20px 30px;
  color: white;
  background-color: #ec5242;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .nav-social {
    background-color: #3E3E3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #nav-social-icon-1 {
    margin-left: 70%;
  }
  
  .nav-social > h6 {
    color: white;
    font-weight: 400;
    font-size: 12;
  }
  
  #nav-social-h63 {
    margin-right: 10%;
  }

  .nav-ham-icon {
    display: none;
  }

  .nav-bar {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .nav-bar > img {
    width: 100px;
    margin-left: 15%;
  }

  .red-color { 
    color: #ec5242;
  }

  .nav-bar-h56 {
    border: 3px solid #ec5242;
    margin-right: 15%;
    padding: 5px;
  }

  .intro-text > h1, .intro-text > h3, .intro-text > p {
    padding-left: 15%;
  }

  .intro-text > h3 {
    padding-top: 7%;
  }

  #para-border {
    display: block;
    width: 40%;
    margin-left: 15%;
  }

  .intro-text > p {
    margin-left: 13.5%;
  }

  .intro-text {
    height: 90vh;
  }

  .main-program {
    /* text-align: center; */
  }

  .main-program-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .main-program-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 2px;
  }

  .main-program-item > img{
    padding-top: 15px;
  }

  .main-program-button {
    display: none;
  }

  .main-program > h3 {
    color: white;
    text-decoration: underline;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .partners {
    background-color: #414246;
  }
  
  .partners > .container {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .partners > h3 {
    display: block;
    width: max-content;
    margin: 0 auto;

    color: white;
    padding-top: 20px;
  }
  
  #body-hr3 {
    height: 1px;
    width: 3%;
    margin: 10px auto;
    background-color: red;
    border: none;
    margin-bottom: 30px;
  }
  
  .col > img {
    width: 100px;
  }
  
  #row1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col {
    margin-right: 30px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .footer > img {
    margin-left: 20%;
    margin-right: 10%;
  }

  .footer > div {
    margin-right: 30%;
  }
  
  #footer-logo {
    width: 150px;
  }

}